$radius: 42px;
$shift: 100px;
$color: white;

.hero {
  position: relative;
  border-radius: 18px;
  width: 100%;
  height: 500px;
  background-color: gainsboro;
  // background-image: url("../../hero.jpg");
  overflow: hidden;

  .caption-container {
    position: absolute;
    bottom: 0;
    background: $color;
    border-radius: 0 $radius 0 18px;
    height: 150px;
    width: 32%;

    &:before {
      content: "";
      position: absolute;
      height: $radius;
      top: -$radius;
      left: 0;
      width: $shift;
      border-bottom-left-radius: $radius;
      box-shadow: -$radius 0 0 0 $color;
    }

    &:after {
      content: "";
      position: absolute;
      height: $radius;
      bottom: 0;
      right: -$shift;
      width: $shift;
      border-bottom-left-radius: $radius;
      box-shadow: -$radius 0 0 0 $color;
    }

    .caption {
      padding: 24px;
      font-size: 32px;
      font-weight: bold;
      color: gainsboro;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
}
